.main {
  height: 100%;
  overflow: hidden;
}

.content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

/* HEADER */

.directorio-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  height: 200px;
}

.directorio-header-left,
.directorio-header-right {
  display: flex;
  align-items: center;
  gap: 3rem;
  height: 100%;
}

/* LEFT SIDE */

.directorio-logo {
  height: 70%;
  cursor: pointer;
}

.title-description-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--gold-crayola);
}

.directorio-title {
  display: flex;
  position: relative;
  margin: 0;
  font-size: 5rem;
  cursor: default;
}

.directorio-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--gold-crayola);
  transition: all 0.3s ease;
}

.directorio-title:hover::after {
  width: 100%;
}

.description {
  font-size: 2rem;
  vertical-align: bottom;
}

/* RIGHT SIDE */

/* SELECT */

.preferences-container {
  position: relative;
  height: 40px;
}

.preferences-button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  border-radius: 8px;
  color: var(--gold-crayola);
  background-color: var(--eerie-black-4);
  box-shadow: 0 2px var(--davys-grey);
}

.preferences-button:active,
.preferences-button-cancel:active,
.preferences-button-send:active {
  transform: translateY(2px);
}

.preferences-form {
  position: absolute;
  padding: 1rem;
  top: 110%;
  left: 0;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  background-color: var(--eerie-black-4);
  color: var(--gold-crayola);
  box-shadow: 2px 2px 3px var(--black-alpha-80);
  overflow: auto;
  z-index: 1;
  transform-origin: top left;
  transform: translateY(15px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.preferences-form-active {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

.preferences-option {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.preferences-option:hover {
  background-color: var(--davys-grey);
}

.preferences-option > label {
  width: 100%;
  font-size: 1.6rem;
  text-align: left;
  cursor: pointer;
  word-break: break-all;
}

.preferences-option > input {
  width: 25px;
}

.preferences-form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.preferences-title {
  font-size: 1.9rem;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: white;
  border-bottom: 1px solid white;
}

.preferences-button-send,
.preferences-button-cancel {
  font-size: 1.3rem;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
}

.preferences-button-cancel {
  background-color: var(--davys-grey);
  color: white;
}

.preferences-button-send {
  background-color: var(--gold-crayola);
  color: var(--eerie-black-4);
}

.search-label {
  display: flex;
  align-items: center;
}

.search-icon {
  fill: var(--gold-crayola);
}

.title-option {
  font-size: 2rem;
}

.container-option {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 1rem;
  background-color: var(--eerie-black-4);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0px 2px var(--davys-grey);
}

.search-input {
  color: white;
}

/* CARDS */

.directorio-buttons {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gold-crayola);
  font-size: 2.4rem;
  border: 1px solid var(--gold-crayola);
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  place-items: center;
  transform: rotate(45deg);
  transition: var(--transition-1);
}

.slider-btn:is(:hover, :focus-visible) {
  background-color: var(--gold-crayola);
  color: var(--black);
}

.slider-btn ion-icon {
  transform: rotate(-45deg);
}

.restaurants {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 270px);
  column-gap: 5rem;
  row-gap: 5rem;
  padding: 4rem;
  margin-bottom: 7rem;
}

.restaurants-not-found::after {
  content: "Sin resultados encontrados...";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 6rem;
  font-weight: bolder;
  color: var(--gold-crayola);
}

.card-anchor {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card-anchor::after {
  opacity: 0;
  position: absolute;
  content: "+";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--gold-crayola);
  background-color: var(--black-alpha-80);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.card-anchor:hover::after {
  opacity: 1;
}

.card-restaurant {
  position: relative;
  height: 200px;
  background-color: black;
  border-radius: 15px;
  border: 2px solid var(--davys-grey);
  box-shadow: 2px 3px 10px black;
  overflow: hidden;
  transition: all 0.5s ease;
}

.card-restaurant-active .card-image {
  opacity: 0.5;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease;
}

.card-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}

.card-info-content {
  padding: 0.5rem 1rem;
  border-radius: 15px 15px 0 0;
  color: var(--gold-crayola);
  background-color: var(--black-alpha-80);
}

.card-name {
  line-height: 2rem;
  font-size: 2rem;
  padding: 1rem 0;
  margin: 0;
}

.card-description {
  line-height: 1.6rem;
  font-size: 1.6rem;
  padding: 0.5rem 0;
}

.restaurant-loader {
  display: none;
  width: 15rem;
  fill: var(--gold-crayola);
}

.restaurant-loader-active {
  display: inline-block;
}
